<td>
  <%= link_to family.name, edit_family_path(family) %>
</td>
<td>
  <% family.students.each do |student| %>
    <%= link_to edit_student_path(student) do %>
      <%= "#{student.first_name} (#{age(student)})" %>
    <% end %><br/>
  <% end %>
</td>
<td>
  <%= link_to(edit_family_path(family), class: 'button-xs') do %>
    <span class="glyphicon glyphicon-pencil"></span>
  <% end %>
</td>
<td>
  <%= link_to(family_path(family), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs') do %>
    <span class="glyphicon glyphicon-trash"></span>
  <% end %>
</td>
