<%= form_for(@family, html: {class: 'form-horizontal', role: 'form'}) do |f| %>
  <%= render 'shared/text_field_attribute', form: f, attribute_name: :name %>
  <%= f.fields_for :addresses do |address_form| %>
    <%= render 'shared/text_field_attribute', form: address_form, attribute_name: :street_address %>
    <%= render 'shared/text_field_attribute', form: address_form, attribute_name: :city %>
    <%= render 'shared/text_field_attribute', form: address_form, attribute_name: :state %>
    <%= render 'shared/text_field_attribute', form: address_form, attribute_name: :zip_code %>
  <% end %>
  <%= render 'shared/text_field_attribute', form: f, attribute_name: :emergency_contact_name %>
  <%= render 'shared/text_field_attribute', form: f, attribute_name: :emergency_contact_phone %>
  <%= render 'shared/check_box_attribute',  form: f, attribute_name: :active %>
  Student:
  <%= f.fields_for :students do |student_form| %>
    <%= render 'shared/text_field_attribute', form: student_form, attribute_name: :first_name %>
    <%= render 'shared/text_field_attribute', form: student_form, attribute_name: :last_name %>
    <%= render 'shared/text_field_attribute', form: student_form, attribute_name: :mobile_phone %>
    <%= render 'shared/text_field_attribute', form: student_form, attribute_name: :email %>
    <%= render 'shared/date_field_attribute', form: student_form, attribute_name: :birth_date %>
  <% end %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default">Save</button>
    </div>
  </div>
<% end %>
