<div class="container">
  <div class="row">
    <h3>Families</h3>
    <%= form_tag(families_path, method: "get") do %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>
    <table class="table table-striped table-hover table-responsive">
      <thead>
        <th>Name</th>
        <th>Student(s)</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @families.each do |family| %>
          <tr>
            <%= render family %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center">
  <%= will_paginate @families %>
</div>
<div class="container">
  <%= link_to("Create family", new_family_path, class: 'button-xs') %>
</div>
