<div class="container">
  <div class="row">
    <h3>Classes</h3>
    <table class="table table-hover">
      <thead>
        <th>Class Name</th>
        <th>Age</th>
        <th>Day</th>
        <th>Time</th>
        <th>Studio</th>
        <th>Edit</th>
        <th>Delete</th>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr class="<%= 'danger' if course.full? %>">
            <td><%= course.name %></td>
            <td><%= "#{course.start_age} - #{course.end_age}" %></td>
            <td><%= course.day %></td>
            <td><%= "#{course.start_at.strftime('%l:%M %P')} - #{course.end_at.strftime('%l:%M %P')}" %></td>
            <td><%= course.studio %></td>
            <td>
              <%= link_to(edit_course_path(course), class: 'button-xs') do %>
              <span class="glyphicon glyphicon-pencil"></span>
              <% end %>
            </td>
            <td>
              <%= link_to(course_path(course), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-xs') do %>
              <span class="glyphicon glyphicon-trash"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <%= link_to("Create Class", new_course_path, class: 'button-xs') %>
</div>
